html {
    font-family: 'Roboto', sans-serif;
    color: #130808;
    }
    
    h1, h2, h3, h4 {
    font-weight: 700;
    color: #333333;
    margin-top: 0;
    }
    
    .flex {
    display: flex;
    }
    
    .list-default {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      li {
        font-size: 16px;
        margin-bottom: 14px;
        list-style: none;
      }
      ul {
        list-style-type: none;
      }
    }
    
    .container {  
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
      
    }
    
    
    button {
    font-family: 'Roboto', sans-serif;
    color: #474747;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 2px;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.1s ease;
    &:hover, &:focus {
      outline: none;
      background-color: #df2525;
    }
    }

    .blue{
        &:hover, &:focus {
            outline: none;
            background-color: #0a80ee;
          }
    }    
